//  Colors
$primary-color: #047aed;
$secondary-color: #1c3fa8;
$dark-color: #002240;
$light-color: #f4f4ff;
$success-color: #5cb85c;
$error-color: #d9534f;
$main-text-color: #333;
$info-color: #ffce1b;
$black: #000;
$white: #fff;
//  Flashy Card Colors
$color-grey-light-2: #eee;
$main-color: linear-gradient(to right bottom, rgba($primary-color, .85), rgba($secondary-color, .85));