@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lato', sans-serif;
    color: $main-text-color;
    line-height: 1.6;
}

ul {
    list-style-type: none;
}

#page ul,
#bitcoin ul {
    list-style-type: initial;
}

a {
    text-decoration: none;
    color: $main-text-color;
    outline: none;
}

h1,
h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

h2 {
    font-weight: 700;
}

p {
    margin: 10px 0;
}

img {
    width: 100%;
}

code,
pre {
    background-color: $main-text-color;
    color: $white;
    padding: 10px;
}