/* Text Color */

.text-primary {
    color: $primary-color;
}

.text-secondary {
    color: $secondary-color;
}

.text-dark {
    color: $dark-color;
}

.text-light {
    color: $light-color;
}

.text-success {
    color: $success-color;
}

.text-info {
    color: $info-color;
}

.text-warning {
    color: $error-color
}

.text-main {
    color: $main-text-color;
}

.bold {
    font-weight: 900;
}